.TodoListContainer {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	.Todos {
		border-radius: 5px;
		background-color: var(--very-dark-unsaturated-blue);
		overflow: hidden;
	}
}
