.todoSummary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 10px 20px;
    background-color: var(--very-dark-unsaturated-blue);
    transition: 0.5s;
    font-size: 0.9rem;
    color: var(--dark-grayish-blue-light);

    .itemsLeft {
        width: 100px;
        text-align: center;
        order: 1;
    }

    .filterButtons {
        order: 2;
        display: flex;
        column-gap: 5px;

        > button {
            color: var(--dark-grayish-blue-light);
            background-color: var(--very-dark-unsaturated-blue);
            border: none;
            padding: 0 10px;

            cursor: pointer;

            &.active {
                color: var(--bright-blue);
            }
        }
    }

    .clearButton {
        order: 3;
        border: none;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
    }
}

.todoSummaryLight {
    background-color: var(--very-light-gray);
}
